.navbar-menu {
    background: #040508 !important;
}

.navbar-item {
    padding: 0 0.5em !important;
    text-align: center !important;
}

.navbar-item:hover, .navbar-item:not(:hover) {
    background: transparent !important;
}

.navbar-menu-item {
    color: #AAA;
    background: transparent;
    letter-spacing: 0.01em;
    display: inline-block;
    position: relative;
}

.navbar-menu-item:hover {
    color: #FFF
}

.navbar-menu-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.15s ease 0s, left 0.15s ease 0s;
    width: 0;
}
.navbar-menu-item:hover:after {
    width: 100% !important;
    left: 0 !important;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
